body{
    padding: 80px 0;
}
.logInPage{
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    
}
#logInPage{
    display: block;
}
#tansactionPage{
    display: none;
}
.displayBox{
    background-color: hotpink;
    border-radius: 10px;
}
.deposite{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.numInput{
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}